<h3 class="page-title">
    Dashbar
    <small>dashboard & statistics</small>
</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashbar">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/dashbar">Dashbar</a>
            <!--<i class="fa fa-angle-right"></i>-->
        </li>
    </ul>
</div>

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar" style="width: 250px;">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="images/avatar.png" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{fullUserName}}
                    </div>
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="">
                                <i class="icon-home"></i>
                                Overview </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="icon-settings"></i>
                                Account Settings </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            ...
                        </div>
                        <div class="uppercase profile-stat-text">
                            Projects
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            ...
                        </div>
                        <div class="uppercase profile-stat-text">
                            Tasks
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            ...
                        </div>
                        <div class="uppercase profile-stat-text">
                            Uploads
                        </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    <h4 class="profile-desc-title">About {{fullUserName}}</h4>
                    <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-globe"></i>
                        <a href="">(...)</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a href="">(...)</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-facebook"></i>
                        <a href="">(...)</a>
                    </div>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-light blue-soft" href="">
                        <div class="visual visual2">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details details2">
                            <div class="number number2">
                                ...
                            </div>
                            <div class="desc">
                                Total user builds
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-light red-soft" href="">
                        <div class="visual visual2">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <div class="details details2">
                            <div class="number number2">
                                ...
                            </div>
                            <div class="desc">
                                Total user Android builds
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-light green-soft" href="">
                        <div class="visual visual2">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="details details2">
                            <div class="number number2">
                                ...
                            </div>
                            <div class="desc">
                                Total user iOS builds
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bar-chart font-green-sharp hide"></i>
                                <span class="caption-subject font-green-sharp bold uppercase">User Android Build time</span>
                                <span class="caption-helper">...</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                        <input type="radio" name="options" class="toggle" id="option1">New</label>
                                    <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                        <input type="radio" name="options" class="toggle" id="option2">Returning</label>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="site_androidBuildTime_loading">
                                <img src="images/loading.gif" alt="loading"/>
                            </div>
                            <div id="site_androidBuildTime_content" class="display-none">
                                <div id="site_androidBuildTime" class="chart">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-share font-red-sunglo hide"></i>
                                <span class="caption-subject font-red-sunglo bold uppercase">User iOS Build time</span>
                                <span class="caption-helper">...</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                        <input type="radio" name="options" class="toggle" id="option1">New</label>
                                    <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                        <input type="radio" name="options" class="toggle" id="option2">Returning</label>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="site_iOSBuildTime_loading">
                                <img src="images/loading.gif" alt="loading"/>
                            </div>
                            <div id="site_iOSBuildTime_content" class="display-none">
                                <div id="site_iOSBuildTime" class="chart">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Last builds
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                                <a href="#portlet-config" data-toggle="modal" class="config">
                                </a>
                                <a href="javascript:;" class="reload">
                                </a>
                                <a href="javascript:;" class="remove">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table black">
                                    <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                        <td>
                                            .....
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->

<script>

    /* Metronic.init(); // init metronic core components
     Layout.init(); // init current layout*/
    /*jQuery(document).ready(function() {*/
    // init background slide images

    $('.page-sidebar-menu').on('click', 'li', function () {
        $('.page-sidebar-menu li.active').removeClass('active');
        $(this).addClass('active');
    });

    /*$.backstretch([
     "images/bg-white.png",
     ], {

     }
     );*/
    //$.backstretch("pause");

    /*$.backstretch([
     null
     ]

     );*/

    $('#footerText').css('background-color', 'rgb(77, 91, 103)');

    //$('.backstretch').removeClass('backstretch');

    $('.backstretch').remove();

    /*$('#loading-bar').attr('data-toggle', 'collapse');*/

    /*});*/

    var resBreakpointMd = Metronic.getResponsiveBreakpoint('md');

    var content = $('.page-content');
    var sidebar = $('.page-sidebar');
    var body = $('body');
    var height;

    if (body.hasClass("page-footer-fixed") === true && body.hasClass("page-sidebar-fixed") === false) {
        console.log("log 1");
        var available_height = Metronic.getViewPort().height - $('.page-footer').outerHeight() - $('.page-header').outerHeight();
        if (content.height() < available_height) {
            content.attr('style', 'min-height:' + available_height + 'px');
            console.log("log 2");
        }
    } else {
        console.log("log 3");
        if (body.hasClass('page-sidebar-fixed')) {
            console.log("log 4");
            height = _calculateFixedSidebarViewportHeight();
            if (body.hasClass('page-footer-fixed') === false) {
                height = height - $('.page-footer').outerHeight();
                console.log("log 5");
            }
        } else {
            var headerHeight = $('.page-header').outerHeight();
            var footerHeight = $('.page-footer').outerHeight();
            console.log("log 6");
            if (Metronic.getViewPort().width < resBreakpointMd) {
                height = Metronic.getViewPort().height - headerHeight - footerHeight;
                console.log("log 7");
            } else {
                height = sidebar.outerHeight() + 10;
                console.log("log 8");
            }

            if ((height + headerHeight + footerHeight) <= Metronic.getViewPort().height) {
                height = Metronic.getViewPort().height - headerHeight - footerHeight;
                console.log("log 9");
            }
        }
        content.attr('style', 'min-height:' + height + 'px');
    }

    /*Index.initCharts();*/

    Index.initDashbarCharts();

</script>

<!-- <div class="breadcrumb-wrap">
    <ul class="breadcrumb projectnav clearfix">
        <li>You have access to {{(projects.length == 0) ? '-' : projects.length}} projects in {{workspaces.length}}
            workspaces
        </li>
        <li class="dropdown user-dropdown">SORT BY:
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i
                    ng-class="reverse ? 'fa-caret-up' : 'fa-caret-down'" class="fa"></i>{{param ==
                'modificationDate' ? 'Date Modified' : 'Name'}}</a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="reverse = true; param = 'name'"><i
                        class="fa fa-caret-up garrow"></i>Name</a></li>
                <li><a href="" ng-click="reverse = false; param = 'name'"><i class="fa fa-caret-down garrow"></i>Name</a>
                </li>
                <li><a href="" ng-click="reverse = true; param = 'modificationDate'"><i
                        class="fa fa-caret-up garrow"></i>Date Created</a></li>
                <li><a href="" ng-click="reverse = false; param = 'modificationDate'"><i
                        class="fa fa-caret-down garrow"></i>Date Created</a></li>
            </ul>
        </li>
        <li class="dropdown user-dropdown">WORKSPACE:
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down garrow"></i>{{currentWorkspace
                ? currentWorkspace.workspaceReference.name : 'All'}}</a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="setCurrentWorkspace(null)">All</a></li>
                <li ng-repeat="workspace in workspaces" ng-click="setCurrentWorkspace(workspace)"><a href="">{{workspace.workspaceReference.name}}</a>
                </li>
            </ul>
        </li>
        <li class="search1 clearfix">
            <div>
                <input type="button" class="searchfield "/>
            </div>
            &lt;!&ndash; content title&ndash;&gt;
            <div class="searchfull clearfix" style="display: none">
                <input type="button" class="closeBtn" style="display: none;" ng-click="filter = ''"/>
                <input type="text" ng-model="filter.name" class="searchfield " placeholder="Search for Projects"/>
            </div>
        </li>
    </ul>
</div>-->

<!-- BEGIN PROJECTS INFORMATION AND SEARCH -->

