<h3 class="page-title">
    Dashbar
    <small>dashboard & statistics</small>
</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/Dashbar">Dashbar</a>
            <!--<i class="fa fa-angle-right"></i>-->
        </li>
    </ul>

</div>

<!-- <div class="breadcrumb-wrap">
    <ul class="breadcrumb projectnav clearfix">
        <li>You have access to {{(projects.length == 0) ? '-' : projects.length}} projects in {{workspaces.length}}
            workspaces
        </li>
        <li class="dropdown user-dropdown">SORT BY:
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i
                    ng-class="reverse ? 'fa-caret-up' : 'fa-caret-down'" class="fa"></i>{{param ==
                'modificationDate' ? 'Date Modified' : 'Name'}}</a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="reverse = true; param = 'name'"><i
                        class="fa fa-caret-up garrow"></i>Name</a></li>
                <li><a href="" ng-click="reverse = false; param = 'name'"><i class="fa fa-caret-down garrow"></i>Name</a>
                </li>
                <li><a href="" ng-click="reverse = true; param = 'modificationDate'"><i
                        class="fa fa-caret-up garrow"></i>Date Created</a></li>
                <li><a href="" ng-click="reverse = false; param = 'modificationDate'"><i
                        class="fa fa-caret-down garrow"></i>Date Created</a></li>
            </ul>
        </li>
        <li class="dropdown user-dropdown">WORKSPACE:
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down garrow"></i>{{currentWorkspace
                ? currentWorkspace.workspaceReference.name : 'All'}}</a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="setCurrentWorkspace(null)">All</a></li>
                <li ng-repeat="workspace in workspaces" ng-click="setCurrentWorkspace(workspace)"><a href="">{{workspace.workspaceReference.name}}</a>
                </li>
            </ul>
        </li>
        <li class="search1 clearfix">
            <div>
                <input type="button" class="searchfield "/>
            </div>
            &lt;!&ndash; content title&ndash;&gt;
            <div class="searchfull clearfix" style="display: none">
                <input type="button" class="closeBtn" style="display: none;" ng-click="filter = ''"/>
                <input type="text" ng-model="filter.name" class="searchfield " placeholder="Search for Projects"/>
            </div>
        </li>
    </ul>
</div>-->

<!-- BEGIN PROJECTS INFORMATION AND SEARCH -->

