<h3 class="page-title">
    Dashbar
    <small>dashboard & statistics</small>
</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/Dashbar">Dashbar</a>
            <!--<i class="fa fa-angle-right"></i>-->
        </li>
    </ul>

</div>



<script>

    /* Metronic.init(); // init metronic core components
     Layout.init(); // init current layout*/
    /*jQuery(document).ready(function() {*/
    // init background slide images

    $('.page-sidebar-menu').on('click', 'li', function () {
        $('.page-sidebar-menu li.active').removeClass('active');
        $(this).addClass('active');
    });

    /*$.backstretch([
     "images/bg-white.png",
     ], {

     }
     );*/
    //$.backstretch("pause");

    /*$.backstretch([
     null
     ]

     );*/

    $('#footerText').css('background-color', 'rgb(77, 91, 103)');

    //$('.backstretch').removeClass('backstretch');

    $('.backstretch').remove();

    /*$('#loading-bar').attr('data-toggle', 'collapse');*/

    /*});*/

    var resBreakpointMd = Metronic.getResponsiveBreakpoint('md');

    var content = $('.page-content');
    var sidebar = $('.page-sidebar');
    var body = $('body');
    var height;

    if (body.hasClass("page-footer-fixed") === true && body.hasClass("page-sidebar-fixed") === false) {
        console.log("log 1");
        var available_height = Metronic.getViewPort().height - $('.page-footer').outerHeight() - $('.page-header').outerHeight();
        if (content.height() < available_height) {
            content.attr('style', 'min-height:' + available_height + 'px');
            console.log("log 2");
        }
    } else {
        console.log("log 3");
        if (body.hasClass('page-sidebar-fixed')) {
            console.log("log 4");
            height = _calculateFixedSidebarViewportHeight();
            if (body.hasClass('page-footer-fixed') === false) {
                height = height - $('.page-footer').outerHeight();
                console.log("log 5");
            }
        } else {
            var headerHeight = $('.page-header').outerHeight();
            var footerHeight = $('.page-footer').outerHeight();
            console.log("log 6");
            if (Metronic.getViewPort().width < resBreakpointMd) {
                height = Metronic.getViewPort().height - headerHeight - footerHeight;
                console.log("log 7");
            } else {
                height = sidebar.outerHeight() + 10;
                console.log("log 8");
            }

            if ((height + headerHeight + footerHeight) <= Metronic.getViewPort().height) {
                height = Metronic.getViewPort().height - headerHeight - footerHeight;
                console.log("log 9");
            }
        }
        content.attr('style', 'min-height:' + height + 'px');
    }

</script>

<!-- <div class="breadcrumb-wrap">
    <ul class="breadcrumb projectnav clearfix">
        <li>You have access to {{(projects.length == 0) ? '-' : projects.length}} projects in {{workspaces.length}}
            workspaces
        </li>
        <li class="dropdown user-dropdown">SORT BY:
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i
                    ng-class="reverse ? 'fa-caret-up' : 'fa-caret-down'" class="fa"></i>{{param ==
                'modificationDate' ? 'Date Modified' : 'Name'}}</a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="reverse = true; param = 'name'"><i
                        class="fa fa-caret-up garrow"></i>Name</a></li>
                <li><a href="" ng-click="reverse = false; param = 'name'"><i class="fa fa-caret-down garrow"></i>Name</a>
                </li>
                <li><a href="" ng-click="reverse = true; param = 'modificationDate'"><i
                        class="fa fa-caret-up garrow"></i>Date Created</a></li>
                <li><a href="" ng-click="reverse = false; param = 'modificationDate'"><i
                        class="fa fa-caret-down garrow"></i>Date Created</a></li>
            </ul>
        </li>
        <li class="dropdown user-dropdown">WORKSPACE:
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down garrow"></i>{{currentWorkspace
                ? currentWorkspace.workspaceReference.name : 'All'}}</a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="setCurrentWorkspace(null)">All</a></li>
                <li ng-repeat="workspace in workspaces" ng-click="setCurrentWorkspace(workspace)"><a href="">{{workspace.workspaceReference.name}}</a>
                </li>
            </ul>
        </li>
        <li class="search1 clearfix">
            <div>
                <input type="button" class="searchfield "/>
            </div>
            &lt;!&ndash; content title&ndash;&gt;
            <div class="searchfull clearfix" style="display: none">
                <input type="button" class="closeBtn" style="display: none;" ng-click="filter = ''"/>
                <input type="text" ng-model="filter.name" class="searchfield " placeholder="Search for Projects"/>
            </div>
        </li>
    </ul>
</div>-->

<!-- BEGIN PROJECTS INFORMATION AND SEARCH -->

