<div class="login" ng-controller="LoginCtrl">

    <div class="margin-bottom-40"></div>

    <div id="wrap">

        <div class="loginContent margin-top-20" style="color:white">

            <img style="height: 3em;" src="images/adaptive_logo.png" alt=""/>

            <h3>Forgot Password?</h3>


          <!--  <form class="forget-form" action="index.html" method="post">

                <h3>Forget Password ?</h3>-->

            <div ng-hide="!errorUserNotFound" class="alert alert-danger">
                <span>The user is not found in the system.</span>
            </div>

            <form id="forget-form" ng-submit="submitForgotPassword()">

                <p>Enter your e-mail address below to reset your password.</p>

                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                               placeholder="Email" name="email" ng-model="email"/>
                    </div>
                </div>

                <div class="form-actions">
                    <button ng-click="showLogin()" type="button" class="btn">
                        <i class="m-icon-swapleft"></i> Back
                    </button>
                    <button type="submit" class="btn blue pull-right">
                        Submit <i class="m-icon-swapright m-icon-white"></i>
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

<script>

    $('#forget-form').validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
            email: {
                required: true,
                email: true
            }
        },
        messages: {
            email: {
                required: "Email is required",
                email: "Enter a valid email account"
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        success: function (label) {
            label.closest('.form-group').removeClass('has-error');
            label.remove();
        },
        submitHandler: function (form) {
        },
        invalidHandler: function (form) {
        }
    });

</script>