<div class="page-md login" ng-controller="LoginCtrl">

    <div id="wrap" style="padding-bottom: 0">

        <div class="loginLogo">
            <a href="">
                <img style="height: 3em;" src="images/adaptive_logo.png" alt=""/>
            </a>
        </div>

        <div class="menu-toggler sidebar-toggler">
        </div>

        <div class="loginContent" style="color: white;">

            <h3 class="form-title" style="margin-top: 24px; margin-bottom: 23px;">Login to your account</h3>

            <!--<div class="alert alert-danger display-hide">-->

            <div ng-hide="!errorSubmit" class="alert alert-danger">
                <!--<button class="close" data-close="alert"></button>-->

                <button class="close" data-close="" ng-click="errorSubmit=false;"></button>

			<span>
			Enter valid username and password. </span>
            </div>

            <div ng-hide="!errorUsernameEmpty" class="alert alert-danger">
                <!--<button class="close" data-close="alert"></button>-->

                <button class="close" data-close="" ng-click="errorUsernameEmpty=false;"></button>

			<span>
			Empty username or password. </span>
            </div>

            <div ng-hide="!errorPasswordEmpty" class="alert alert-danger">
                <!--<button class="close" data-close="alert"></button>-->

                <button class="close" data-close="" ng-click="errorPasswordEmpty=false;"></button>

			<span>
			Empty username or password. </span>
            </div>

            <!-- BEGIN LOGIN FORM -->

            <!-- <form class="login-form"  ng-submit="submit()">-->

            <form ng-show="isLoginForm" class="login-form" ng-submit="submit()">

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Username</label>

                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="text" autocomplete="off"
                               placeholder="Username" ng-model="username">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>

                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="password" autocomplete="off"
                               placeholder="Password" ng-model="password">
                    </div>
                </div>

                <!-- <div class="form-actions">
                    <button  type="submit" class="btn blue pull-right" ng-click="submit()">login</button>

                </div>-->

                <div class="form-actions">
                    <!--  <label class="checkbox" style="color: white;   font-size: 13px;" >-->

                    <div class="md-checkbox">
                        <input type="checkbox" id="checkbox1" class="md-check reset-input" name="remember" value="1">
                        <label style="color: white; font-size: 12px;" for="checkbox1">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Remember me </label>
                    </div>

                    <!--<input type="checkbox" name="remember" value="1"/> Remember me </label>-->

                    <!-- <button type="submit" class="btn blue pull-right" ng-click="submit()">-->
                    <button class="btn blue pull-right" ng-click="submit()" style="margin-top: -23px;">
                        Login <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>

                <div class="forget-password">
                    <!-- <h4 style="color: white;margin-top: 61px; margin-bottom: 13px;color: white;">Forgot your password
                         ?</h4>

                     <p style="color: white;">
                         no worries, click <a href="javascript:;" id="forget-password">
                         here </a>
                         to reset your password.
                     </p>-->
                </div>

                <br><br>

                <div class="create-account">
                    <p style="color: white;">
                        Don't have an account yet ?&nbsp;
                        <a ng-click="showRegisterForm()"  >
                            Create an account
                        </a>
                    </p>
                </div>

            </form>

            <!-- END LOGIN FORM -->

            <!-- BEGIN REGISTRATION FORM -->

            <!--<form   ng-submit="registerForm()" class="register-form">-->

            <form  ng-show="isRegisterForm" name="registerForm" ng-submit="submitRegister()" enctype="multipart/form-data" class="register-form">

                <h3>Sign Up</h3>

                <p>
                    Enter your personal details below:
                </p>

                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9"> Email </label>

                    <!-- <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input ng-model="newEmail" class="form-control placeholder-no-fix reset-input" type="text" placeholder="Email" name="email"/>
                    </div> -->

                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input pattern="[A-Za-z0-9]+@[a-z]+\.[a-z]+" required name="inputEmail" ng-model="newEmail" class="form-control placeholder-no-fix reset-input"
                               type="email" placeholder="Email" name="email" />
                        <div role="alert">
                            <span style="color: black;" class="error" ng-show="registerForm.inputEmail.$error.required">
                                Required</span>
                            <span style="color: red;" class="error" ng-show="registerForm.inputEmail.$error.email">
                                Not valid email</span>

                             <span style="color: red;" class="error" ng-show="registerForm.inputEmail.$error.pattern">
                                Not valid email</span>
                            <span style="color: red;" class="error" ng-show="errorEmailExist">
                                Email already exist </span>

                        </div>
                    </div>

                </div>

                <p>
                    Enter your account details below:
                </p>

                <div class="form-group">

                    <label class="control-label visible-ie8 visible-ie9"> Username </label>

                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input required ng-trim="false" ng-model="newUsername" name="inputUsername"
                               class="form-control placeholder-no-fix reset-input" type="text"
                               placeholder="Username" ng-minlength=3 ng-maxlength=15 required="required"/>

                        <div role="alert">
                            <span style="color: black;" class="error" ng-show="registerForm.inputUsername.$error.required">
                                Required</span>
                             <span style="color: red;" class="error" ng-show="errorUsernameExist">
                                Username already exist </span>
                             <span style="color: red;" class="error" ng-show="registerForm.inputUsername.$error.minlength">
                                 The username is too short </span>
                            <span style="color: red;" class="error" ng-show="registerForm.inputUsername.$error.maxlength">
                                The username is too long </span>

                             <span style="color: red;" class="error" ng-show="registerForm.inputUsername.$error.pattern">
                                Not valid username pattern </span>

                        </div>

                        <!-- <input ng-model="newUsername" class="form-control placeholder-no-fix reset-input" type="text"
                                autocomplete="off" placeholder="Username" name="username"/>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>

                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input  ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false" required ng-model="newPassword" class="form-control placeholder-no-fix reset-input"
                               type="text" placeholder="Password"
                               name="password" ng-minlength=6 ng-maxlength=100/>
                        <div role="alert">
                            <span style="color: black;" class="error" ng-show="registerForm.password.$error.required">
                                Required</span>
                            <span style="color: red;" class="error" ng-show="registerForm.password.$error.minlength">
                                 The username is too short </span>
                            <span style="color: red;" class="error" ng-show="registerForm.password.$error.pattern">
                                Not valid password pattern</span>
                            <span style="color: red;" class="error" ng-show="registerForm.password.$error.maxlength">
                                The password is too long </span>
                        </div>

                    </div>
                </div>
                <div class="form-group">

                    <label>

                        <!--<input ng-required="readTermsConditions==true" ng-model="readTermsConditions" type="checkbox" name="tnc"/> I agree to the <a class="link-service-terms">
                        Terms of Service </a>
                        and <a class="link-policy-terms">
                        Privacy Policy </a>-->

                        <input type="checkbox"  value="{{val.id}}"  name="group-one" ng-model="registerForm.selectedTerms[val.id]" ng-required="!someSelected(registerForm.selectedTerms)"/>

                        I agree to the <a href=""  ng-click="showServiceTerms()" class="">
                        Terms of Service </a>and <a ng-click="showPolicyTerms()" class=""> Privacy Policy </a>

                        <div role="alert">
                            <span style="color: black;" class="error" ng-show="selectedTermsChecked">
                                You must agree with the terms and conditions </span>
                        </div>

                    </label>

                    </label>

                    <div id="register_tnc_error">
                    </div>
                </div>
                <div class="form-actions">

                    <button  ng-click="returnLoginForm()" id="register-back-btn" type="button" class="btn">
                        <i class="m-icon-swapleft"></i> Back
                    </button>

                    <!-- <button button  id="register-submit-btn" type="submit" class="btn blue pull-right">
                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                    </button>-->

                    <button ng-disabled="registerForm.$invalid || registerForm.$pristine" type="submit" class="btn blue pull-right">
                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                    </button>

                </div>

            </form>

            <!-- END REGISTRATION FORM -->

            <!-- BEGIN FORGOT PASSWORD FORM -->

            <form class="forget-form" action="index.html" method="post">
                <h3>Forget Password ?</h3>

                <p>
                    Enter your e-mail address below to reset your password.
                </p>

                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                               placeholder="Email" name="email"/>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn">
                        <i class="m-icon-swapleft"></i> Back
                    </button>
                    <button type="submit" class="btn blue pull-right">
                        Submit <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </form>

            <!-- END FORGOT PASSWORD FORM -->

        </div>

        <div ng-show="serviceTerms" class="">
            <!-- <h3>Terms of Services</h3>
             <p>
                 ...
             </p>
             <button type="button" id="back-btn2" class="btn">
                 <i class="m-icon-swapleft"></i> Back </button>-->

            <!-- BEGIN TERMS SERVICES -->
            <div class="portlet ng-scope">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div id="tab_3" class="tab-pane active">
                                    <div id="accordion3" class="panel-group">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion3" href="#accordion3_1"
                                                       aria-expanded="true">
                                                        Terms of Services </a>
                                                </h4>
                                            </div>
                                            <div id="accordion3_1" class="panel-collapse collapse in"
                                                 aria-expanded="true">
                                                <div class="panel-body"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button ng-click="returnRegisterForm()" type="button" id="back-btn2" class="btn">
                        <i class="m-icon-swapleft"></i> Back
                    </button>
                </div>
            </div>
            <!-- END TERMS SERVICES -->
        </div>

        <div ng-show="policyTerms" class="">
            <div class="portlet ng-scope">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div id="tab_3" class="tab-pane active">
                                    <div id="accordion3" class="panel-group">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion3" href="#accordion3_1"
                                                       aria-expanded="true">
                                                        Private Policy </a>
                                                </h4>
                                            </div>
                                            <div id="accordion3_1" class="panel-collapse collapse in"
                                                 aria-expanded="true">
                                                <div class="panel-body"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button ng-click="returnRegisterForm()" type="button" id="back-btn3" class="btn">
                        <i class="m-icon-swapleft"></i> Back
                    </button>
                </div>
            </div>

        </div>

    </div>

</div>

<script>

    /*jQuery('.register-form').hide();*/

    jQuery('#register-btn').click(function () {
        console.log("jQuery('#register-btn').click");

        /* jQuery('.login-form').hide();
        jQuery('.register-form').show();*/

    });

    jQuery('#register-back-btn').click(function () {
     /*   jQuery('.login-form').show();
        jQuery('.register-form').hide();*/
    });
    $.backstretch(
            [
                "images/1.jpg",
                "images/2.jpg",
                "images/3.jpg",
                "images/4.jpg"
            ],
            {
                fade: 1000,
                duration: 8000
            }
    );

    $('#footerText').css('background-color', '');
    /*});*/

    jQuery('.forget-form').hide();

    $('.forget-form').validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
            email: {
                required: true,
                email: true
            }
        },

        messages: {
            email: {
                required: "Email is required."
            }
        },

        invalidHandler: function (event, validator) { //display error alert on form submit

        },

        highlight: function (element) { // hightlight error inputs
            $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
        },

        success: function (label) {
            label.closest('.form-group').removeClass('has-error');
            label.remove();
        },

        errorPlacement: function (error, element) {
            error.insertAfter(element.closest('.input-icon'));
        },

        submitHandler: function (form) {
            form.submit();
        }
    });

    $('.forget-form input').keypress(function (e) {
        if (e.which == 13) {
            if ($('.forget-form').validate().form()) {
                $('.forget-form').submit();
            }
            return false;
        }
    });

    jQuery('#forget-password').click(function () {
        jQuery('.login-form').hide();
        jQuery('.forget-form').show();
    });

    jQuery('#back-btn').click(function () {
       /* jQuery('.login-form').show();
        jQuery('.forget-form').hide();*/
    });

    /*jQuery('.service-terms').hide();
    jQuery('.policy-terms').hide();*/

    jQuery('.link-service-terms').click(function () {
        /* jQuery('.login-form').hide();
         jQuery('.forget-form').hide();
         jQuery('.register-form').hide();*/
        jQuery('.loginContent').hide();
       /* jQuery('.service-terms').show();*/
    });
    jQuery('.link-policy-terms').click(function () {
        /*  jQuery('.login-form').hide();
         jQuery('.forget-form').hide();
         jQuery('.register-form').hide();*/
        jQuery('.loginContent').hide();
        /*jQuery('.policy-terms').show();*/
    });
    jQuery('#back-btn2').click(function () {
        /* jQuery('.login-form').hide();
         jQuery('.register-form').show();
         jQuery('.forget-form').hide();*/
        jQuery('.loginContent').show();
       /* jQuery('.policy-terms').hide();
        jQuery('.service-terms').hide();*/
    });
    jQuery('#back-btn3').click(function () {
        /* jQuery('.login-form').hide();
         jQuery('.register-form').show();
         jQuery('.forget-form').hide();*/
        jQuery('.loginContent').show();
       /* jQuery('.policy-terms').hide();
        jQuery('.service-terms').hide();*/
    });

    /*(document).ready(function(){
        jQuery('#register-btn').click(function () {
            console.log("jQuery('#register-btn').click(function ()");
            jQuery('.login-form').hide();
            jQuery('.register-form').show();
        });
    });*/

    /*$(function () {
        $("#register-btn").on('click',function () {
            console.log("jQuery('#register-btn').click(function ()");
            jQuery('.login-form').hide();
            jQuery('.register-form').show();
        });
    });*/

</script>