<div class="page-md login" ng-controller="LoginCtrl">

    <div id="wrap">

        <div class="loginLogo">
            <a href="">
                <img style="height: 3em;" src="images/adaptive_logo.png" alt=""/>
            </a>
        </div>

        <div class="menu-toggler sidebar-toggler">
        </div>

        <div class="loginContent" style="color: white;">

            <h3 class="form-title" style="margin-top: 24px; margin-bottom: 23px;">Login to your account</h3>

            <!--<div class="alert alert-danger display-hide">-->
            <div ng-hide="!errorSubmit" class="alert alert-danger">
                <!--<button class="close" data-close="alert"></button>-->

                <button class="close" data-close="" ng-click="errorSubmit=false;"></button>

			<span>
			Enter valid username and password. </span>
            </div>

            <div ng-hide="!errorUsernameEmpty" class="alert alert-danger">
                <!--<button class="close" data-close="alert"></button>-->

                <button class="close" data-close="" ng-click="errorUsernameEmpty=false;"></button>

			<span>
			Empty username or password. </span>
            </div>

            <div ng-hide="!errorPasswordEmpty" class="alert alert-danger">
                <!--<button class="close" data-close="alert"></button>-->

                <button class="close" data-close="" ng-click="errorPasswordEmpty=false;"></button>

			<span>
			Empty username or password. </span>
            </div>

            <form class="login-form"  ng-submit="submit()">

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Username</label>

                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="text" autocomplete="off"
                               placeholder="Username" ng-model="username">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>

                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="password" autocomplete="off"
                               placeholder="Password" ng-model="password">
                    </div>
                </div>
                <!-- <div class="form-actions">
                    <button  type="submit" class="btn blue pull-right" ng-click="submit()">login</button>

                </div>-->

                <div class="form-actions">
                    <!--  <label class="checkbox" style="color: white;   font-size: 13px;" >-->

                    <div class="md-checkbox">
                        <input type="checkbox" id="checkbox1" class="md-check reset-input" name="remember" value="1">
                        <label style="color: white; font-size: 12px;" for="checkbox1">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Remember me </label>
                    </div>

                    <!--<input type="checkbox" name="remember" value="1"/> Remember me </label>-->

                    <!-- <button type="submit" class="btn blue pull-right" ng-click="submit()">-->
                    <button class="btn blue pull-right" ng-click="submit()" style="margin-top: -23px;">
                        Login <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>

                <div class="forget-password">
                    <h4 style="color: white;margin-top: 61px; margin-bottom: 13px;color: white;">Forgot your password
                        ?</h4>

                    <p style="color: white;">
                        no worries, click <a href="javascript:;" id="forget-password">
                        here </a>
                        to reset your password.
                    </p>
                </div>

                <div class="create-account">
                    <p style="color: white;">
                        Don't have an account yet ?&nbsp; <a id="register-btn">
                        Create an account </a>
                    </p>
                </div>

            </form>

            <!-- BEGIN REGISTRATION FORM -->
            <form class="register-form" action="index.html" method="post">
                <h3>Sign Up</h3>
                <p>
                    Enter your personal details below:
                </p>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="text" placeholder="Email" name="email"/>
                    </div>
                </div>
                <p>
                    Enter your account details below:
                </p>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="text" autocomplete="off" placeholder="Username" name="username"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="tnc"/> I agree to the <a href="javascript:;">
                        Terms of Service </a>
                        and <a href="javascript:;">
                        Privacy Policy </a>
                    </label>
                    <div id="register_tnc_error">
                    </div>
                </div>
                <div class="form-actions">
                    <button id="register-back-btn" type="button" class="btn">
                        <i class="m-icon-swapleft"></i> Back </button>
                    <button type="submit" id="register-submit-btn" class="btn blue pull-right">
                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </form>
            <!-- END REGISTRATION FORM -->

        </div>
    </div>
</div>

<script>

    /*$('.login-form input').keypress(function (e) {
     //console.log("login-form input').keypr");
     if (e.which == 13) {
     //console.log("e.which == 13");
     if ($('.login-form').validate().form()) {
     //console.log("$('.login-form').validate().form()");
     //$('.login-form').submit();
     }else{
     //console.log("nooo login-form input').keypr");
     }
     return false;
     }
     });*/

    /* jQuery(document).ready(function() {*/
    /* Metronic.init(); // init metronic core components
     Layout.init(); // init current layout
     //Login.init();
     Demo.init();*/
    // init background slide images

    jQuery('.register-form').hide();

    //Login();

    $('.register-form').validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {

            fullname: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            address: {
                required: true
            },
            city: {
                required: true
            },
            country: {
                required: true
            },

            username: {
                required: true
            },
            password: {
                required: true
            },
            rpassword: {
                equalTo: "#register_password"
            },

            tnc: {
                required: true
            }
        },

        messages: { // custom messages for radio buttons and checkboxes
            tnc: {
                required: "Please accept TNC first."
            }
        },

        invalidHandler: function (event, validator) { //display error alert on form submit

        },

        highlight: function (element) { // hightlight error inputs
            $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
        },

        success: function (label) {
            label.closest('.form-group').removeClass('has-error');
            label.remove();
        },

        errorPlacement: function (error, element) {
            if (element.attr("name") == "tnc") { // insert checkbox errors after the container
                error.insertAfter($('#register_tnc_error'));
            } else if (element.closest('.input-icon').size() === 1) {
                error.insertAfter(element.closest('.input-icon'));
            } else {
                error.insertAfter(element);
            }
        },

        submitHandler: function (form) {
            form.submit();
        }
    });

    $('.register-form input').keypress(function (e) {
        if (e.which == 13) {
            if ($('.register-form').validate().form()) {
                $('.register-form').submit();
            }
            return false;
        }
    });

    jQuery('#register-btn').click(function () {
        console.log("jQuery('#register-btn').click(function ()");
        jQuery('.login-form').hide();
        jQuery('.register-form').show();
    });

    jQuery('#register-back-btn').click(function () {
        jQuery('.login-form').show();
        jQuery('.register-form').hide();
    });

    $.backstretch([
                "images/1.jpg",
                "images/2.jpg",
                "images/3.jpg",
                "images/4.jpg"
            ], {
                fade: 1000,
                duration: 8000
            }
    );

    $('#footerText').css('background-color', '');
    /*});*/



</script>


