<div class="login" ng-controller="LoginCtrl">

    <div class="margin-bottom-40"></div>

    <div id="wrap">

        <div class="loginContent margin-top-20" style="color:white">

            <img style="height: 3em;" src="images/adaptive_logo.png" alt=""/>

            <h3>Login to your account</h3>

            <div ng-hide="!errorSubmit" class="alert alert-danger">
                <span>Enter valid username and password.</span>
            </div>

            <form id="login-form" ng-submit="submitLogin()">

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Username</label>

                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="text" autocomplete="off"
                               placeholder="Username" ng-model="username" name="username">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>

                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="password" autocomplete="off"
                               placeholder="Password" ng-model="password" name="password">
                    </div>
                </div>

                <div class="form-group">

                    <!--<div class="md-checkbox">
                        <input type="checkbox" id="checkbox1" class="md-check reset-input" name="remember" value="1">
                        <label for="checkbox1">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Remember me </label>
                    </div>-->

                    <button class="btn blue margin-bottom-10" ng-click="submit()">
                        Login <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <p>Forgot your password? <a ng-click="showForgot()">Reset password</a></p>
                    <p> Don't have an account yet? <a ng-click="showRegister()"> Create an account </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    $('#login-form').validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
            username: {
                required: true
            },
            password: {
                required: true
            }
        },
        messages: {
            username: {
                required: "Username is required"
            },
            password: {
                required: "Password is required"
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        success: function (label) {
            label.closest('.form-group').removeClass('has-error');
            label.remove();
        },
        submitHandler: function (form) {
        },
        invalidHandler: function (form) {
        }
    });

</script>