<div class="login" ng-controller="LoginCtrl">

    <div class="margin-bottom-40"></div>

    <div id="wrap">

        <div class="termsContent margin-top-20" style="color:white">

        <!--div class="portlet ng-scope">
                <div class="portlet-body">-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div id="tab_3" class="tab-pane active">
                                    <div id="accordion3" class="panel-group">
                                        <div class="panel panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title" style="color:black;">

                                                        Private Policy
                                                </h4>
                                            </div>
                                            <div id="accordion3_1" class="panel-collapse collapse in"
                                                 aria-expanded="true">
                                                <div class="panel-body" style="color:black;">

                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button ng-click="returnRegisterForm()" type="button" id="back-btn3" class="btn">
                        <i class="m-icon-swapleft"></i> Back
                    </button>
               <!-- </div>
            </div>-->

        </div>

    </div>

</div>

<script>

</script>