<div class="login" ng-controller="LoginCtrl">

    <div class="margin-bottom-40"></div>

    <div id="wrap">

        <div class="loginContent margin-top-20" style="color:white">

            <img style="height: 3em;" src="images/adaptive_logo.png" alt=""/>

            <h3 class="form-title">Sign Up</h3>

            <div ng-hide="!errorEmailExist" class="alert alert-danger">
                <span>Email already exist</span>
            </div>

            <div ng-hide="!errorUsernameExist" class="alert alert-danger">
                <span>Username already exist</span>
            </div>

            <form id="register-form" ng-submit="submitRegister()">

                <p> Enter your personal details below: </p>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9"> Email </label>

                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                               placeholder="Email" ng-model="email" name="email"/>
                    </div>
                </div>

                <p> Enter your account details below: </p>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9"> Username </label>

                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="text" autocomplete="off"
                               placeholder="Username" ng-model="username" name="username"></div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>

                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="password" autocomplete="off"
                               placeholder="Password" ng-model="password" name="password"></div>
                </div>

                <div class="form-group">
                    <input type="checkbox" id="terms" name="terms">
                    I agree to the <a href="" ng-click="#"><!--<a href="" ng-click="showTermsService()">-->
                    Terms of Service </a>and <a href="" ng-click="#"><!--<a ng-click="showPrivacy()">--> Privacy
                    Policy </a>

                </div>

                <div class="form-actions">
                    <button ng-click="showLogin()" type="button" class="btn">
                        <i class="m-icon-swapleft"></i> Back
                    </button>
                    <button type="submit" class="btn blue pull-right">
                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>

<script>

    $.validator.addMethod("loginRegex", function (value, element) {
        return this.optional(element) || /^[a-z0-9\-]+$/i.test(value);
    }, "Username must contain only letters, numbers, or dashes.");

    $('#register-form').validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
            username: {
                required: true,
                loginRegex: true
            },
            password: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            terms: {
                required: true
            }
        },
        messages: {
            username: {
                required: "Username is required",
                loginRegex: "Username must contain only letters, numbers, or dashes."
            },
            password: {
                required: "Password is required"
            },
            email: {
                required: "Email is required",
                email: "Enter a valid email account"
            },
            terms: {
                required: "You must agree with the terms and conditions"
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        success: function (label) {
            label.closest('.form-group').removeClass('has-error');
            label.remove();
        },
        submitHandler: function (form) {
        },
        invalidHandler: function (form) {
        }
    });

</script>