<div class="login" ng-controller="LoginCtrl">

    <div class="margin-bottom-40"></div>

    <div id="wrap">

        <div class="loginContent margin-top-20" style="color:white">

            <img style="height: 3em;" src="images/adaptive_logo.png" alt=""/>

            <h3>Reset Password</h3>

            <div ng-hide="!errorUserNotFound" class="alert alert-danger">
                <span>The user is not found in the system.</span>
            </div>

            <div ng-hide="!errorExpired" class="alert alert-danger">
                <span>The token is not valid or has expired.</span>
            </div>

            <div ng-hide="!errorServer" class="alert alert-danger">
                <span>There is an error on the server.</span>
            </div>

            <div ng-hide="!invalidPassword" class="alert alert-danger">
                <span>There password has to contain letters and number and a minimun lenght of 8.</span>
            </div>

            <form id="reset-form" ng-submit="submitResetPassword()">

                <p>Enter your new password.</p>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>

                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix reset-input" type="password" autocomplete="off"
                               placeholder="Password" ng-model="password" name="password">
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn blue">
                        Submit <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </form>

        </div>

    </div>

</div>

<script>

    $('#reset-form').validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
            password: {
                required: true
            }
        },
        messages: {
            password: {
                required: "Password is required"
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        success: function (label) {
            label.closest('.form-group').removeClass('has-error');
            label.remove();
        },
        submitHandler: function (form) {
        },
        invalidHandler: function (form) {
        }
    });

</script>